In [15]:
# Some imports for work...
import pandas as pd  # - with datafame
import polars as pl

In [2]:
PM_UK_df= pd.read_csv('Resources/British Prime Ministers since 1721 - Sheet1.csv')

In [3]:
print(PM_UK_df)

                            Name  Year        Party           School  \
0                 Robert Walpole  1721        Whig             Eton
1                Spencer Compton  1742        Whig         St Paul's
2                   Henry Pelham  1743        Whig       Westminster
3           Thomas Pelham-Holles  1754        Whig       Westminster
4              William Cavendish  1756        Whig             Other
..                           ...   ...          ...              ...
71                Sir John Major  1990  Conserative  Rutlish Grammar
72  Anthony Charles Lynton Blair  1997       Labour            Other
73            James Gordon Brown  2007       Labour         Kircaldy
74  David William Donald Cameron  2010  Conserative             Eton
75              Theresa Mary May  2016  Conserative      Halton Park

   University    College      Monarch
0   Cambridge     King's     George 1
1      Oxford    Trinity     George 2
2      Oxford   Hertford     George 2
3   Cambridge      Clare     George 2
4    Industry        NaN     George 2
..        ...        ...          ...
71   Industry        NaN  Elizabeth 2
72     Oxford  St John's  Elizabeth 2
73  Edinburgh        NaN  Elizabeth 2
74     Oxford  Brasenose  Elizabeth 2
75     Oxford  St Hugh's  Elizabeth 2

[76 rows x 7 columns]

In [4]:
columns_to_drop = ['Party', 'School', 'University', 'College', 'Monarch']

In [5]:
PM_UK_df.drop(['Party', 'School', 'University', 'College', 'Monarch'], axis=1, inplace=True)

In [6]:
print(PM_UK_df.columns)

Index(['Name', 'Year'], dtype='object')

In [7]:
PM_UK_df = PM_UK_df[PM_UK_df['Year'] >= 1969]

In [8]:
print(PM_UK_df)

                               Name  Year
67  Sir Edward Richard George Heath  1970
68              James Harold Wilson  1974
69          Leonard James Callaghan  1976
70         Margaret Hilda Thatcher,  1979
71                   Sir John Major  1990
72     Anthony Charles Lynton Blair  1997
73               James Gordon Brown  2007
74     David William Donald Cameron  2010
75                 Theresa Mary May  2016

In [9]:
 new_row = {'Name': 'Boris Johnson', 'Year': 2019}
new_df = pd.DataFrame([new_row])

PM_UK_df = pd.concat([PM_UK_df, new_df], ignore_index=True)

In [10]:

new_row = {'Name': 'Rishi Sunak', 'Year': 2022}
new_df = pd.DataFrame([new_row])

PM_UK_df = pd.concat([PM_UK_df, new_df], ignore_index=True)

In [11]:
print(PM_UK_df)

                               Name  Year
0   Sir Edward Richard George Heath  1970
1               James Harold Wilson  1974
2           Leonard James Callaghan  1976
3          Margaret Hilda Thatcher,  1979
4                    Sir John Major  1990
5      Anthony Charles Lynton Blair  1997
6                James Gordon Brown  2007
7      David William Donald Cameron  2010
8                  Theresa Mary May  2016
9                     Boris Johnson  2019
10                      Rishi Sunak  2022

In [12]:

PM_UK_df['Year'] = PM_UK_df['Year'].astype(str) + '-' + PM_UK_df['Year'].shift(-1).astype(str)

PM_UK_df.loc[PM_UK_df.index[-1], 'Year'] = str(PM_UK_df['Year'].iloc[-1])

print(PM_UK_df)

                               Name         Year
0   Sir Edward Richard George Heath  1970-1974.0
1               James Harold Wilson  1974-1976.0
2           Leonard James Callaghan  1976-1979.0
3          Margaret Hilda Thatcher,  1979-1990.0
4                    Sir John Major  1990-1997.0
5      Anthony Charles Lynton Blair  1997-2007.0
6                James Gordon Brown  2007-2010.0
7      David William Donald Cameron  2010-2016.0
8                  Theresa Mary May  2016-2019.0
9                     Boris Johnson  2019-2022.0
10                      Rishi Sunak     2022-nan

In [13]:

PM_UK_df['Year'] = PM_UK_df['Year'].astype(str).str.replace('.0', '')

print(PM_UK_df)

                               Name       Year
0   Sir Edward Richard George Heath  1970-1974
1               James Harold Wilson  1974-1976
2           Leonard James Callaghan  1976-1979
3          Margaret Hilda Thatcher,  1979-1990
4                    Sir John Major  1990-1997
5      Anthony Charles Lynton Blair  1997-2007
6                James Gordon Brown  2007-2010
7      David William Donald Cameron  2010-2016
8                  Theresa Mary May  2016-2019
9                     Boris Johnson  2019-2022
10                      Rishi Sunak   2022-nan

In [18]:
PM_UK_df.to_csv('US_data_cleaned_un_inf.csv')