In [1]:
import pandas as pd

In [2]:
PM_UK_df= pd.read_csv('Resources/British Prime Ministers since 1721 - Sheet1.csv')

In [3]:
print(PM_UK_df)

                            Name  Year        Party           School  \
0                 Robert Walpole  1721        Whig             Eton
1                Spencer Compton  1742        Whig         St Paul's
2                   Henry Pelham  1743        Whig       Westminster
3           Thomas Pelham-Holles  1754        Whig       Westminster
4              William Cavendish  1756        Whig             Other
..                           ...   ...          ...              ...
71                Sir John Major  1990  Conserative  Rutlish Grammar
72  Anthony Charles Lynton Blair  1997       Labour            Other
73            James Gordon Brown  2007       Labour         Kircaldy
74  David William Donald Cameron  2010  Conserative             Eton
75              Theresa Mary May  2016  Conserative      Halton Park

   University    College      Monarch
0   Cambridge     King's     George 1
1      Oxford    Trinity     George 2
2      Oxford   Hertford     George 2
3   Cambridge      Clare     George 2
4    Industry        NaN     George 2
..        ...        ...          ...
71   Industry        NaN  Elizabeth 2
72     Oxford  St John's  Elizabeth 2
73  Edinburgh        NaN  Elizabeth 2
74     Oxford  Brasenose  Elizabeth 2
75     Oxford  St Hugh's  Elizabeth 2

[76 rows x 7 columns]

In [4]:
print(PM_UK_df.columns)

Index(['Name', 'Year', 'Party', 'School', 'University', 'College', 'Monarch'], dtype='object')

In [5]:
columns_to_drop = ['Party', 'School', 'University', 'College', 'Monarch']

In [6]:
print(PM_UK_df.columns)

Index(['Name', 'Year', 'Party', 'School', 'University', 'College', 'Monarch'], dtype='object')

In [7]:
PM_UK_df.drop(['Party', 'School', 'University', 'College', 'Monarch'], axis=1, inplace=True)

In [8]:
print(PM_UK_df.columns)

Index(['Name', 'Year'], dtype='object')

In [9]:
PM_UK_df = PM_UK_df[PM_UK_df['Year'] >= 1960]

In [10]:
print(PM_UK_df)

                                Name  Year
65  Alexander Frederick Douglas-Home  1963
66               James Harold Wilson  1964
67   Sir Edward Richard George Heath  1970
68               James Harold Wilson  1974
69           Leonard James Callaghan  1976
70          Margaret Hilda Thatcher,  1979
71                    Sir John Major  1990
72      Anthony Charles Lynton Blair  1997
73                James Gordon Brown  2007
74      David William Donald Cameron  2010
75                  Theresa Mary May  2016

In [12]:

new_row = {'Name': 'Rishi Sunak', 'Year': 2022}
new_df = pd.DataFrame([new_row])

PM_UK_df = pd.concat([PM_UK_df, new_df], ignore_index=True)

In [13]:
print(PM_UK_df)

                                Name  Year
0   Alexander Frederick Douglas-Home  1963
1                James Harold Wilson  1964
2    Sir Edward Richard George Heath  1970
3                James Harold Wilson  1974
4            Leonard James Callaghan  1976
5           Margaret Hilda Thatcher,  1979
6                     Sir John Major  1990
7       Anthony Charles Lynton Blair  1997
8                 James Gordon Brown  2007
9       David William Donald Cameron  2010
10                  Theresa Mary May  2016
11                       Rishi Sunak  2022